body {
    font-family: 'Arial', sans-serif;
    background: url(kg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling on small screens */
}

#guesses-container {
    display: flex;
    justify-content: center;
    margin-top: 1.8vh;
}

.guess-button {
    width: 6vw;
    height: 5vh;
    line-height: 4vh;
    border-radius: 10px;
    margin: 1vw;
    font-size: 2vw;
}

#game-container {
    width: 70vw;
    background-color: rgb(227, 148, 3);
    padding: 2vh;
    border-radius: 2vh;
    color: #ffffff;
    margin: 2vh auto;
    font-size: 2.5vh;
}

#word-display {
    font-size: 1.8vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
}

#word-display span {
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    border-radius: 0.8vw;
    margin: 0 0.5vw;
    font-size: 3vw;
}

#attempts {
    font-size: 1.2vh;
    margin-bottom: 1vh;
}

#letter-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5vw;
    font-size: 1vw;
}

.letter-button {
    width: 5vw;
    height: 5vw;
    line-height: 2vw;
    border-radius: 0.8vw;
    margin: 0.5vw;
    font-size: 1vw;
}

.game-button {
    width: 9vw;
    height: 3vw;
    line-height: 3vw;
    border-radius: 1vw;
    margin: 0.5vw;
    padding: 0;
    font-size: 1.5vw;
}

#message {
    font-size: 2vw;
    margin-top: 1vw;
}

.question-container {
    background-color: #F1FEA5;
    padding: 1vw;
    border: solid 0.1vw #000000;
    border-radius: 0.5vw;
    color: #000000;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.question-container h2 {
    font-size: 3vh;
    margin-bottom: 0.5vh;
}

.question-content {
    font-size: 1.8vw;
    line-height: 1.2;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    border-radius: 0.5vw;
    text-align: center;
}

.close {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
}

#question-content {
    color: rgb(227, 148, 3);
    font-weight: bold;
}

.close {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    display: none; /* Hide the close button "x" */
}

.button {
    font-size: 1vw;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5vw; 
}

.button {

    width: 3vw; 
    height: 3vw; 
    margin: 1vw; 
    font-size: 1vw; 
}
=======
    width: 3vw; 
    height: 3vw; 
    margin: 0.3vw; 
    font-size: 1.5vw; 
}

